/********************
YOUR STYLES
*******************/




ul
{
    list-style-type: none;
}

p{

font-family: 'Orbitron', sans-serif;
font-weight: 500;
font-size:19pt;
color:#e64f19;
margin: 72px;

}

h4{
text-align: center;
color:#e64f19   ;
font-family: 'Orbitron', sans-serif;
font-weight: 900;
font-size:40pt;

}


h3{
text-align: center;
color:#e64f19   ;
font-size:60pt;
font-family: 'Orbitron', sans-serif;
font-weight: 900;
text-transform: uppercase;
transition: background .5s;
background-color: rgba(255,255,255,0.5);

}

h3:hover{
background-color: rgba(255,255,255,0.9);
}

.navigation{
background: url(../img/videobg2.png);
position: fixed;
margin-top: -5px;
width: 100%;
z-index: 5;


}

.navigation li{
font-family: 'Orbitron', sans-serif;
font-weight: 500;
font-size: 18pt;
float:left;
margin: 10px;
margin-left: 40px;
color:black;
width:21%;
text-align: center;
transition: opacity, background .5s;
}

.navigation li:hover{
    background:white;
    opacity:.6;
    color:black;
    

}

.navigation li:active{
    background:whitesmoke;

    color:#e64f19   ;
    

}
.quotes li{
margin: 100px;
float:left;


}

#plot{
margin-bottom:  -45px;
}

#creviewsdiv, #plotdiv{
opacity: .5;
background: white;
transition: opacity .5s;
z-index: -5;
}

#creviewsdiv:hover, #plotdiv:hover{
opacity: .9;

}

#plotdiv p{
line-height: 34px;
color:black;
}

#creviewsdiv p {
text-align: center;
margin:30px;
margin-bottom: 120px;
font-family: 'Orbitron', sans-serif;
font-weight: 500;

}

#creviewsdiv span{

color:black;
}


body{
    background:url(../img/mm9.jpg) fixed;

}





video{
		border:none;
        
    

}

#mainlogo{
display: block;
margin: 0 auto;
width:90%;
text-align: center;

}




.mejs-container {

margin: 0 auto;


}


.mejs-treehouse .mejs-controls {
  background: pink;
  height: 30px;
}



/* sets the play button to the same bg as the progress bar but misses the bottom part
.mejs-treehouse .mejs-controls .mejs-button
{
  
  background: url(../img/videobg3.png);
}*/

.mejs-treehouse .mejs-controls .mejs-button button {
  outline: none;

}

.mejs-treehouse .mejs-controls .mejs-captions-button {
  margin: 0 7px;
}

.mejs-treehouse .mejs-controls .mejs-captions-selector {
  background: pink;
  width: 100px;
  right: auto;
}

.mejs-treehouse .mejs-controls .mejs-time-rail {
  padding: 0;
}

.mejs-treehouse .mejs-controls .mejs-time-rail span {
  height: 100%;
  border-radius: 0px;
}


.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-buffering,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-handle
{
  background: url(../img/videobg3.png);
  margin: 0;
}

.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-current{
background: orange;

height: 50%;
margin-top: 7px;
border-radius: 50px;
margin-left: 15px;
margin-right: 30px;
    

}

.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float{
  border:none;
  background:none;
  text-shadow: 0px 1px 2px rgba(0,0,0,.8); 
  font-family: helvetica, arial;
  color: whitesmoke;

}


.mejs-treehouse .mejs-controls{



}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (max-width: 1320px) {
.navigation li{
    margin-left: 20px;
    font-size: 14pt;


}
}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}