/********************
YOUR STYLES
*******************/

video{
		border:none;
        
    

}



.mejs-treehouse .mejs-controls {
  background: pink;
  height: 30px;
}

.mejs-treehouse .mejs-controls .mejs-button button {
  outline: none;
}

.mejs-treehouse .mejs-controls .mejs-captions-button {
  margin: 0 7px;
}

.mejs-treehouse .mejs-controls .mejs-captions-selector {
  background: pink;
  width: 100px;
  right: auto;
}

.mejs-treehouse .mejs-controls .mejs-time-rail {
  padding: 0;
}

.mejs-treehouse .mejs-controls .mejs-time-rail span {
  height: 100%;
  border-radius: 0px;
}


.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-buffering,
.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-handle
{
  background: #222;
  margin: 0;
}

.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-current{
background: orange;
opacity: .5;
height: 50%;
margin-top: 7px;
border-radius: 20px;
margin-left: 15px;
margin-right: 15px;
    

}

.mejs-treehouse .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float{
  border:none;
  background:none;
  text-shadow: 0px 1px 2px rgba(0,0,0,.8); 
  font-family: helvetica, arial;
  color: whitesmoke;

}



/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}